<div class="grid">
    <div class="col-12 md:col-12 lg:col-12">
        <div class="card fixed-menu">
            <p-menubar [model]="items()">
                <ng-template pTemplate="start">
                    <img src="assets/logo/codenova.webp" height="40" class="mr-2" />
                </ng-template>
                <ng-template pTemplate="end">
                    <img class="imgRol" src="assets/logo/codenova.webp" alt="img del user">
                </ng-template>
            </p-menubar>
        </div>
    </div>
</div>