<h1 style="text-align: center;">FACTURAS <button (click)="redirectCreateInvoice()"
        class="btn btn-secondary">Crear</button></h1> <br><br>
<div class="grid">

    <div class="col-12 col-sm-12 col-md-12">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Total</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha Creación</th>
                    <th scope="col">PDF</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @for (item of invoices(); track item.id) {
                <tr>
                    <th scope="row">{{ item.number }}</th>
                    <td>{{ item.names }}</td>
                    <td>${{ item.total }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.created_at }}</td>
                    <td><button (click)="pdfInvoice(item.number)" class="btn btn-primary">PDF</button></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>